<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="box">
        <ol>
            <li v-for="(value,index) in arr">
                {{value}}
                {{index}}
            </li>
        </ol>
        <ul>
            <li v-for="(key,value) in json">
                {{value}}  {{key}}
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script>
    new Vue({
        el:'.box',
        data:{
            arr:["apple",'banana','pear'],
            json:{a:'china',b:'USA',c:'UK'}
        }
    })
</script>
</html>