<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .completed{
            color: #00C1B3;
        }
    </style>
</head>
<body >
    <div id="box">
        <h4>My list {{todos.length}} </h4>
        <h5>My list {{todoCount}}</h5>
        <ul>
            <li v-for="(todo ,index) in todos"
                v-bind:class="{'completed':todo.completed}"
                @click="editClass(todo)"
            >
                <button v-on:click="deleteTodo(index)">删除</button>
                &nbsp;&nbsp;&nbsp; {{todo.title}}
                <br/><br/>
            </li>
        </ul>
        <form v-on:submit.prevent="addTodo(newTodo)">
            <input type="text" v-model="newTodo.title" placeholder="添加字段"/>
            <br/><br/>
           <button type="submit">添加1</button>
        </form>
        <pre>
            {{$data | json}}<!--打印data方法-->
        </pre>
        <br/><br/>
        <button @click="addTodo(newTodo)">添加2</button>
    </div>

</body>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script>
    new Vue({
        el:'#box',
        data:{
            msg:"Hello vue",
            todos:[{
                id:1,title:'learn vuejs','completed':true
            }],
            newTodo:{id:null,title:'','completed':false}
        },
        computed:{
          todoCount:function(){
              return this.todos.length;
          }
        },
        methods:{
            addTodo(newTodo){
                this.todos.push(newTodo),//将input里的文字添加到ul中
                this.newTodo={id:null,title:''}//点击添加将文本框的内容清空
            },
            deleteTodo(index){
                this.todos.splice(index,1)
            },
            editClass(todo){
                todo.completed =! todo.completed
            }
        }
    })
</script>
</html>